{{!--
  Slingui Card Component
  ParĂ¢metro esperado: layout="horizontal" ou "vertical"
--}}

<article class="blog-card layout-{{layout}}">
  <a href="{{url}}" class="card-link">
    <div class="card-inner">
      {{#if feature_image}}
        <img 
          class="card-img" 
          src="{{img_url feature_image size="m"}}" 
          alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" 
        />
      {{/if}}

      <div class="card-content">
        {{#if primary_tag}}
          <div class="tags">
            <span class="text">{{primary_tag.name}}</span>
          </div>
        {{/if}}

        <div class="post-date">{{date format="MMMM D, YYYY"}}</div>
        <h2 class="card-title">{{title}}</h2>
      </div>
    </div>
  </a>
</article>